<h1>Seja bem-vindo!</h1>
<p>Data: <%= brl_date(Date.today) %></p>

<%= render "menu" %>

<p>O ambiente atual é de <strong> <%= rails_environment %></strong></p>
<p>Este é um curso de <strong> <%= @curso %> </strong> </p>
