<div id="<%= dom_id coin %>">
<table>
  <thead>
    <tr>
      <th> <strong>Nome</strong> </th>
      <th> <strong>Sigla</strong> </th>
      <th> <strong>Imagem</strong> </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> <%= coin.description %> </td>
      <td> <%= coin.acronym %> </td>
      <td> <%= image_tag coin.url_image, width: 50, height: 50 %> </td>
    </tr>
  </tbody>

</table>
</div>
